table , td , th { 
    border: 1px solid darkblue;
    border-collapse: collapse;
}

table {
    width: 100%;
}

div p {
    background-color: aqua;
}
th {
    background-color: #222;
    color: #CCC;
}

td, th {
    padding: 10px;
}
.kozep {
    text-align: center;
}
body {
    margin: 0;
}

hr {
    margin: 40px 0;
    border: 5px solid black;
}
